:root{
    --cor-do-fundo:hsl(212, 45%, 89%);
    --cor-do-titulo:hsl(218, 44%, 22%);
    --cor-do-texto:hsl(216, 15%, 48%);
    --cor-do-cartao:#ffffff;
    --fonte-geral: 'Outfit';
}


body{
    font-family: 'Outfit';
    background-color: var(--cor-do-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
}

.cartao{
    margin: auto;
    border-radius: 15px;
    background-color: var(--cor-do-cartao);
    text-align: center;
    max-width: 320px;
    padding: 16px;
}

.cartao__codigo{
    border-radius: 3%;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.cartao__titulo{
    color: var(--cor-do-titulo);
}

.cartao__texto{
    color: var(--cor-do-texto);
}

@media (max-width:450px) {

}